## Print
파이썬에서의 출력함수는 print()입니다. <br>
print()의 다양한 출력 방식을 알아야 간단하고 깔끔하게 출력을 할 수 있습니다. 

### 서식문자
- 문자열 사이에 변수를 넣어 출력할 때 간략하게 써서 표현할 수 있도록 도와줍니다.
1. %를 사용해 출력
    - %s : 문자열 표현하기
    - %f : 실수 표현하기
    - %d : 정수 표현하기
2. format을 사용해 출력
3. f''를 사용해 출력

- 소숫점 출력은 {:.자리수f}

In [1]:
# 문자열과 변수의 출력 1
# 내이름은 최한빈입니다.
name = input('당신의 이름을 입력해주세요.')
print('내이름은',name,'입니다.') # 한 줄일 경우에는 간단!

당신의 이름을 입력해주세요.최한빈
내이름은 최한빈 입니다.

In [2]:
# 문자열과 변수의 출력 2
# 내 이름은 최한빈 입니다. 그리고 나이는 99살 이고, 사는 곳은 김포 입니다.
name, age, place = input('당신의 이름과 나이, 사는 지역을 입력해주세요').split()
age = int(age)
print('내 이름은',name,'입니다. 그리고 나이는','age','살이고, 사는 곳은',place,'입니다') # 변수가 많아질수록 복잡해지는 것을 확인

당신의 이름과 나이, 사는 지역을 입력해주세요최한빈 99 김포
내 이름은 최한빈 입니다. 그리고 나이는 age 살이고, 사는 곳은 김포 입니다

In [10]:
# 서식문자 
# 1. %를 사용해 출력한다.
print('내 이름은 %s입니다.' %name)
print('내 이름은 %s입니다. 그리고 나이는 %d이고, 사는 곳은 %s입니다'%(name, age, place))

# 2. format을 사용해 출력한다.
print('내 이름은 {}입니다. 그리고 나이는 {}이고, 사는 곳은 {}입니다.'.format(name, age, place))

#3. f''를 사용해 출력한다.
print(f'내 이름은 {name}입니다. 그리고 나이는 {age}이고, 사는 곳은 {place}입니다.')

내 이름은 최한빈입니다.
내 이름은 최한빈입니다. 그리고 나이는 99이고, 사는 곳은 김포입니다
내 이름은 최한빈입니다. 그리고 나이는 99이고, 사는 곳은 김포입니다.
내 이름은 최한빈입니다. 그리고 나이는 99이고, 사는 곳은 김포입니다.

In [12]:
import math
print(math.pi)
print('{:.3f}'.format(math.pi))

3.141592653589793
3.142

### end와 sep 옵션
- end : 줄 별로 print()를 사용했을 때, print() 간의 문자열 설정 // default = '\n'
- '\n'은 이스케이프 문자로 줄바꿈을 의미함
- sep : 하나의 print() 함수에서 여러 원소를 출력할 때, 원소 간의 문자열 설정 // default = ' '

In [13]:
print(1)
print(1)

1
1

In [18]:
print(1,2,3,4,5)

1 2 3 4 5

In [20]:
# end
print(1, end='/') # end 설정 ('/')
print(1)
print(1)
print()

# sep
print(1,2,3,4,5, sep='/') # sep 설정 ('/')
print()

# end 와 sep 설정
print(1,2,3,4,5, sep='/', end='-')
print(6,7,8,9,10, sep='/', end='-')

1/1
1

1/2/3/4/5

1/2/3/4/5-6/7/8/9/10-

In [29]:
# 실습문제
'''
정사각형의 가로길이와 세로길이를 입력받고,
그 정사각형의 너비를 구하여 하나의 변수에 저장한 뒤,
다음과 같이 너비를 출력하도록 하는 프로그램을 만들어 보자.

입력 예시 1
10, 20

출력 예시 1
정사각형의 너비는 200입니다.

입력 예시 2
0, 10

출력 예시 2
정사각형의 너비는 0 입니다.

hint : 입력 예시를 잘 확인한 뒤, 값을 입력받으세요.
'''
a,b = map(int,input('가로와 세로 길이를 입력해주세요. ').split(","))
c = (a*b)
print('정사각형의 너비는 %d입니다.'%c)
print()

a,b = map(int,input('가로와 세로 길이를 입력해주세요. ').split(","))
c = (a*b)
print('정사각형의 너비는 %d입니다.'%c)

가로와 세로 길이를 입력해주세요. 10,20
정사각형의 너비는 200입니다.

가로와 세로 길이를 입력해주세요. 0,10
정사각형의 너비는 0입니다.

In [33]:
width, height = map(int,input().split(", "))
area = width * height
print(f'정사각형의 너비는 {area}입니다.')

10, 20
정사각형의 너비는 200입니다.